 <head>
	<meta name="apple-mobile-web-app-title" content="Darrions Room">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	
	<meta property="og:url" content="http://darrionsroom.meteor.com/" />
	<meta property="og:type" content="video" />
	<meta property="og:title" content="Darrions Room" />
	<meta property="og:description"
		content="Darrions Room. Check out my work." />
	<meta property="og:image"
		content="http://darrionsroom.meteor.com/bgs/logosquare.jpg" />
	
	<base href="/">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="apple-touch-icon" href="bgs/logosquare.jpg">
	<link rel="apple-touch-startup-image" href="bgs/ccFlyerTall.jpg">
	<link rel="shortcut icon" href="icons/favicon.ico">
	<link rel="icon" type="image/gif" href="icons/animated_favicon1.gif">
</head>
<body ng-app="interviews" layout="column" ng-controller="AppCtrl">
	<div id="tb-main" class="tb-main md-whiteframe-z1" layout="row"
		layout-align="start center">
		<div class="md-toolbar-tools">
			<md-button id="tb-menu" ng-click="toggleLeft()" hide-gt-md
				aria-label="toggleMenu"> </md-button>
			<h4>
				<a href="/home"><div ng-hide="currentUser">Darrions Room</div></a>
				<a href="/home"><div ng-show="currentUser">{{ currentUser.username | displayName }}'s Room</div></a>
			</h4>
			<span flex></span>
			<md-button ng-controller="AboutCtrl" ng-click="showAdvanced($event)"
				class="md-fab" id="tb-logo" aria-label="showAbout"></md-button>
		</div>
	</div>
	<!-- need view to span even if only toolbar -->
	<div layout="row" flex>
	   <md-sidenav id="tb-alt" md-swipe-left="close();" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
	      <md-toolbar id="tb-alt" md-scroll-shrink>
	         <div hide-gt-md class="md-toolbar-tools">
	            <h1 class="md-toolbar-tools">Menu</h1>
	            <span flex></span>
	            <md-button ng-controller="AboutCtrl" ng-click="toggleLeft()" class="md-fab" aria-label="toggleMenu">
	               <md-icon md-svg-icon="content:ic_clear_24px"></md-icon>
	            </md-button>
	         </div>
	         <p layout-padding class="md-title" style="color:white;font-weight:bold;">
	            <login-buttons></login-buttons>
	         </p>
	      </md-toolbar>
	      <navitems></navitems>
	   </md-sidenav>
	   <md-content flex md-scroll-y ng-style="{'background-size':'cover','background-image':'url(' + getBG() + ')'}" id="mainContent">
	      <div flex ui-view></div>
	      <div class="md-whiteframe-z2" ng-style="{'padding-top':'.5em','pading-bottom':'.5em','background-image': 'url(' + getMRBanner() + ')', 'background-repeat': 'no-repeat', 'background-size' : 'cover', 'background-position': 'center', 'text-align' : 'center', 'color':'white', 'min-height' : '50px','height' : '50px', 'background-color' : '#444444', 'margin-top' : '1em'}">
	         <h2>MEDIA REIGN LLC.</h2>
	      </div>
	   </md-content>
	   <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-is-locked-open="$mdMedia('gt-lg')">
	      <md-toolbar id="tb-main">
	         <h1 class="md-toolbar-tools">Ad Space</h1>
	      </md-toolbar>
	      <md-list>
	      	<md-item>
	        <md-item-content ng-controller="RightCtrl" layout-padding>
	           <h3>
	           	Place Your Ad Today
	           <br/> 
	           	<a href="mailto:mediareignllc@gmail.com">MediaReign</a>
	           </h3>
	        </md-item-content>
	      	</md-item>
	      </md-list>
	   </md-sidenav>
	</div>

</body>
