<img style="width:100%" class="md-whiteframe-z1">
<md-button ng-show="currentUser" class="md-fab md-primary md-hue-2 add-fab" ng-click="showAdvanced($event)">
	<md-icon md-svg-src="/icons/svg/add_white_24px.svg"></md-icon>
</md-button>
<md-grid-list style="width:100%" md-cols-sm="2" md-cols-md="3" md-cols-gt-lg="4" md-row-height="2:3" md-gutter=".25em" md-gutter-gt-sm="1em">
<md-subheader flex ><span class="md-headline">The Crew</span></md-subheader>
 <md-grid-tile ng-repeat="profile in profiles">
   <md-grid-tile-header>
     <h3>{{profile.firstName + ' ' + profile.lastName}}</h3>
   </md-grid-tile-header>
   <div layout="column" layout-fill>
    <div style="margin-top:75px;margin-bottom:75px;" flex ng-style="{'background-image':'url(profileImages/' + profile.firstName + '_' + profile.lastName + '_headshot1.jpg)'}" class="circular">
   </div>
   <div class="md-actions" layout="column" layout-align="end center" ng-show="($root.currentUser && $root.currentUser._id == profile.owner)||(isAdmin())">
   	<md-button class="md-raised" style="position:absolute;top:40px;left:1em;" ng-click='go("/profiles/edit/" + profile._id)' >Edit</md-button>
   	<span flex></span>
		<md-button class="md-raised" style="position:absolute;bottom:40px;right:1em;" ng-click="remove(profile)" >Remove</md-button>
   </div>
   </div>
   <md-grid-tile-footer>
     <h3>Team Roles: {{profile.teamRoles}}</h3>
   </md-grid-tile-footer>
 </md-grid-tile>
</md-grid-list>
