<section>
<md-button ng-click='go("/conversations/edit/" + blog._id)' ng-show="showAdd()" class="md-fab edit-fab">
	<md-icon md-svg-src="/icons/svg/edit_white_36px.svg"></md-icon>
</md-button>
<div layout-fill layout="column">
  <div flex class="md-whiteframe-z3" ng-show="blog.link && blog.link.trim() != ''">
	  <div class="videoWrapper">
    	<iframe id='iframe1' width='560' height='315' ng-src="{{trustSrc(blog.link)}}" frameborder='0' allowfullscreen></iframe>
  	</div>
  </div>
  <div style="background-color:rgba(0, 0, 0, 0.5);color:white;" flex>
  	<div class="md-title" layout="row" layout-align="space-around center">
			<div style="margin-left:1em;"><h5>{{blog.date | date : format : fulldate}}</h5></div>
			<md-button ng-click="likeBlog(blog, $root)"
			aria-label="likeBlog">
			<md-icon ng-show="blog.likeCount == 0" md-svg-src="/icons/svg/favorite_border_white_18px.svg"></md-icon>
			<md-icon ng-show="blog.likeCount > 0" md-svg-src="/icons/svg/favorite_white_18px.svg"></md-icon>
			({{blog.likeCount}})
			</md-button>
		</div>
  	<div layout-padding style="min-height:50px;">
  	<h2 class="md-headline">{{blog.name}}</h2>
  	<pre><h3 class="md-subhead">{{blog.description}}</h3></pre>
  	</div>
  </div>
  <div flex layout-margin layout-padding class="main-content md-padding md-whiteframe-z1" style="border-radius:.3em;">
  	<div style="background-color:white;border-radius:.5em;" class="md-whiteframe-z1" layout
            layout-align="center center">
     <div style="width:100%;text-align:center;color:red;font-weight:bold;" 
     ng-click="openLeft()"
     ng-hide="$root.currentUser || $root.loggingIn">
     Sign in/up to leave a comment!<br/>(PRESS MENU BUTTON)</div>
     <form flex name="cForm">
     <div flex layout="row" layout-align="center end" ng-show="$root.currentUser || $root.loggingIn">
      <md-input-container style="width:70%;">
      	<pre><textarea style="width:100%" name="text" ng-model="newComment.text" 
      	ng-minlength="1" maxlength="1600" ng-maxlength="1600" required 
      	md-maxlength="1600" aria-label="newCommentText">
      	</textarea></pre>
     	</md-input-container>
     	<md-input-container style="width:25%;">
      	<md-button ng-disabled="cForm.$invalid" class="md-hue-2 md-primary" 
      	ng-click="addComment(newComment, $root)" aria-label="addComment">
      	<md-icon md-svg-src="/icons/svg/add_black_24px.svg"></md-icon></md-button>
     	</md-input-container>
    </div>
     </form>
	</div>
</div>
	<div layout-margin flex md-border-bottom class="main-content md-whiteframe-z1">
			<div ng-controller="CommentsListCtrl"
					 dir-paginate="comment in comments | itemsPerPage: perPage"
	         total-items="commentsCount.count" layout="column" >
		    <div layout-margin layout-padding class="md-whiteframe-z1" style="border-radius:.125em;background-color:#DEF1FD;">
					<hr>
					<div class="md-caption" layout="row" style="font-weight:bold;" layout-align="start center">{{ creator(comment) | displayName }}</div>
					<pre><div class="md-subhead" >{{comment.text}}</div></pre>
					<div class="md-caption" layout="row" layout-align="space-around center">
						<div>{{comment.date | date : format : fulldate}}</div>
						<md-button ng-click="likeComment(comment, $root)"
						aria-label="likeComment">
						<md-icon ng-show="comment.likeCount == 0" md-svg-src="/icons/svg/favorite_border_black_18px.svg"></md-icon>
						<md-icon ng-show="comment.likeCount > 0" md-svg-src="/icons/svg/favorite_black_18px.svg"></md-icon>
						({{comment.likeCount}})
						</md-button>
					</div>
					<hr>
					<div layout="row" layout-align="space-around center">
						<md-button class="md-raised"
		    					 ng-click="remove(comment)"
		               ng-show="showAdd()"
		               aria-label="removeComment">
		         <md-icon md-svg-icon="content:ic_clear_24px"></md-icon>
		       </md-button>
					</div>
				</div>
	   </div>
     <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
  </div>
</div>
</section>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68377794-1', 'auto');
  ga('send', 'pageview');

</script>