<md-button ng-show="showAdd()" class="md-fab add-fab " ng-click="showAdvanced($event)" aria-label="addBlog">
	<md-icon md-svg-src="/icons/svg/add_white_24px.svg"></md-icon>
</md-button>
<md-list md-no-ink style="background-color:rgba(0,0,0,0);">
  <md-card layout-margin ng-repeat="blog in blogs" style="background-color:rgba(255,255,255,.5);">
  <list-item style="background-color:rgba(0,0,0,0);">
	<md-subheader flex class="md-whiteframe-z2 main-content"><span class="md-subhead"><div style="white-space: nowrap;overflow:hidden;text-overflow: ellipsis;font-weight:bold;">{{blog.name}}</div></span></md-subheader>
    <!-- 
    <img ng-src="{{getAvatarImgUrl()}}" style="height:100px;" class="md-card-image">
     -->
    <md-card-content ng-click='go("/conversations/" + blog._id)'>
     	<div class="md-whiteframe-z2 overlap" ng-style="avatarstyle(blog)"></div>
      <div class="md-whiteframe-z2 main-content" layout-padding layout-margin style="max-height:10em;overflow:hidden;">
      	<pre>{{blog.description}}</pre>
      </div>
      <div layou="row" flex layout-align="space-around center"></div>
    </md-card-content>
    <div class="md-whiteframe-z2 main-content" layout="row" layout-align="space-around center">
				<div style="margin-left:1em;"><h5>{{blog.date | date : format : fulldate}}</h5></div>
				<md-button ng-click="likeBlog(blog, $root)"
					aria-label="likeBlog">
				<md-icon ng-show="blog.likeCount == 0" md-svg-src="/icons/svg/favorite_border_black_18px.svg"></md-icon>
				<md-icon ng-show="blog.likeCount > 0" md-svg-src="/icons/svg/favorite_black_18px.svg"></md-icon>
					({{blog.likeCount}})
				</md-button>
				<div ng-show="($root.currentUser && $root.currentUser._id == profile.owner)||(isAdmin())">
					<md-button class="md-fab md-warn md-mini" ng-click='remove(blog)' aria-label="removeBlog">
						<md-icon md-svg-icon="content:ic_clear_24px"></md-icon>
					</md-button>
		      <md-button class="md-fab md-mini" style="background-color:green;" ng-click='go("/conversations/edit/" + blog._id)' aria-label="editBlog">
						<md-icon md-svg-src="/icons/svg/edit_white_36px.svg"></md-icon>
					</md-button>
				</div>
			</div>
    </list-item>
  </md-card>
	<!-- 
	<md-list-item ng-click='go("/conversations/" + blog._id)' class="md-3-line" ng-repeat="blog in blogs">
		<div layout="row" layout-fill>
			<div flex="100">
				<div ng-style="avatarstyle" class="videoWrapper">
  			</div>
			</div>
		  <div class="md-list-item-text" flex="100">
		    <h3 class="md-title" style="white-space: nowrap;overflow:hidden;text-overflow: ellipsis;">{{ blog.name }}</h3>
		    <h4>{{ blog.date | date : format : mediumDate}}</h4>
		    <p class="md-body-1" style="max-height:5em;overflow:hidden;">{{ blog.description }}</p>
		    <div class="md-actions" style="position:relative;bottom:0px;" layout="row" layout-align="end center" ng-show="($root.currentUser && $root.currentUser._id == profile.owner)||(isAdmin())">
		    	<md-button class="md-raised" ng-click='go("/conversations/edit/" + blog._id)' >Edit</md-button>
		    	<span flex></span>
					<md-button class="md-raised" ng-click='remove(blog)' >Remove</md-button>
		    </div>
		  </div>
		  </div>
		<md-divider ng-if="!$last"></md-divider>
	</md-list-item>
	 -->
</md-list>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68377794-1', 'auto');
  ga('send', 'pageview');

</script>