<md-content layout-padding class="editPanel">
<section>
<md-card>
  <md-subheader class="md-primary"><h2 class="md-title">Edit Post</h2></md-subheader>
	<form>
		<div layout layout-sm="column">
			<md-input-container flex="70">
			  <label>Name</label>
			  <input required ng-model="blog.name">
	    </md-input-container>
	    <md-input-container flex>
	      <label>Submission Date</label>
	      <input type="date" ng-model="blog.date">
	    </md-input-container>
		</div>
    <md-input-container flex>
    	<label>Video Url</label>
    	<input required ng-model="blog.link">
    </md-input-container>
    <div ng-show="blog.link && blog.link.trim() != ''" style="background-color:orange;color:white;">
	  	<label>Preview:</label>
		  <md-input-container flex>
		  	<div class="videoWrapper">
		  		<iframe id='iframe1' width='100%' height='315' ng-src="{{trustSrc(blog.link)}}" frameborder='0'></iframe>
	  		</div>
	  	</md-input-container>
	  </div>
	  <label>Description</label>
	  <md-input-container flex>
		  <pre><textarea style="width:100%" required ng-model="blog.description" aria-label="blogDescription"></textarea></pre>
	  </md-input-container>
	  <md-input-container flex>
    	<label>Thumbnail</label>
    	<input required ng-model="blog.thumb">
    </md-input-container>
	  <div layout layout-sm="column">
	  	<md-input-container flex>
			  <md-checkbox ng-model="blog.public" aria-label="Checkbox 1">Public</md-checkbox>
		  </md-input-container>
		  <md-input-container flex>
		  	<md-button class="md-raised" ng-click='save(); go("/conversations")'>Save</md-button>
				<md-button class="md-raised" ng-click="reset()">Reset form</md-button>
				<md-button class="md-raised" ng-click='go("/conversations")'>Cancel</md-button>
	  	</md-input-container>
	  </div>
	</form>
</md-card>
</section>
</md-content>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68377794-1', 'auto');
  ga('send', 'pageview');

</script>