<md-dialog style="width:80%" layout="column" aria-label="Add New Video Post" class="addNew">
  <form>
  <md-dialog-content class="sticky-container">
  <md-subheader class="md-sticky-no-effect"><div class="md-headline">Enter Episode Details</div></md-subheader>
		<div flex>
			<div layout layout-sm="column">
				<md-input-container flex="70">
				  <label>Name</label>
				  <input name="name" ng-model="newBlog.name" required md-maxlength="256">
		    </md-input-container>
		    <md-input-container flex>
		      <label>Submission Date</label>
				  <input type="date" name="date" ng-model="newBlog.date" ng-init="newBlog.date = Date" required>
		    </md-input-container>
			</div>
	    <md-input-container flex>
	    	<label>Video Url</label>
	    	<!-- 
	    	Type:
	    	<md-select ng-model="ctrl.userState">
	          <md-option ng-repeat="byt in blogUrlTypes" value="{{byt}}">{{state.abbrev}}</md-option>
	       </md-select><br/> -->
	    	<input name="description" ng-model="newBlog.link" required md-maxlength="132">
	    </md-input-container>
	    <div ng-show="newBlog.link && newBlog.link.trim() != ''" style="background-color:orange;color:white;">
		  	<label>Preview:</label>
			  <md-input-container flex>
			  	<div class="videoWrapper">
			  		<iframe id='iframe1' width='100%' height='315' ng-src="{{trustSrc(newBlog.link)}}" frameborder='0'></iframe>
		  		</div>
		  	</md-input-container>
		  </div>
		  <label>Description</label>
		  <md-input-container flex>
			  <pre>
			  	<textarea style="width:100%" name="description" ng-model="newBlog.description" 
			  	required aria-label="newBlogDescription">
					</textarea>
				</pre>
		  </md-input-container>
	  	<md-input-container flex>
			  <md-checkbox ng-model="newBlog.public" ng-init="newBlog.public=true" aria-label="Checkbox 1">Public</md-checkbox>
		  </md-input-container>
	  </div>
  </md-dialog-content>
  </form>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="cancel()" class="md-primary">
    	Cancel
    </md-button>
    <md-button ng-click="newBlog.owner=$root.currentUser._id;answer(newBlog)" class="md-primary">
      Save
    </md-button>
  </div>
</md-dialog>