<div layout="row" layout-align="center start" layout-fill layout-margin>
  <div flex flex-gt-sm="75" class="md-whiteframe-z2" layout-fill>
    <md-toolbar class="md-primary md-tall" layout="column" layout-align="end" layout-fill>
      <div layout="row" class="md-toolbar-tools md-toolbar-tools-bottom">
        <h3 class="md-display-1"> Register a new account</h3>
      </div>
    </md-toolbar>
 
    <div layout-fill layout-margin layout-padding>
 
      <div layout-fill layout-margin>
        <p class="md-body-2">Use your email?</p>
      </div>
 
 	  <div layout-fill layout-margin>
	      <form name="registerForm" layout="column" layout-fill layout-padding layout-margin>
	        <md-input-container >
	          <label> Username </label>
	          <input type="text" ng-model="register.credentials.username" placeholder="username" aria-label="username" required/>
	        </md-input-container>
	        <md-input-container >
	          <label> Email </label>
	          <input type="text" ng-model="register.credentials.email" placeholder="email" aria-label="email" required/>
	        </md-input-container>
	        <md-input-container >
	          <label> Password </label>
	          <input type="password" ng-model="register.credentials.password" placeholder="password" aria-label="password" required/>
	        </md-input-container>
	        <div layout="row" layout-align="end center">
	          <md-button class="md-raised md-primary" ng-click="register.register()" aria-label="login" ng-disabled="register.registerForm.$invalid()">Register</md-button>
	        </div>
		    <md-toolbar ng-show="register.error" class="md-warn" layout-fill layout-padding layout-margin>
		      <p class="md-body-1">{{ register.error }}</p>
		    </md-toolbar>
	      </form>
      </div>
      <div layout="column" layout-fill layout-margin layout-align="center">
	      <md-divider></md-divider>
	      <div layout="row" layout-align="center">
	        <a class="md-button" href="/login">Already a user?</a>
	      </div>
      </div>
 
    </div>
 
  </div>
</div>