<md-dialog aria-label="Add New User">
  <form>
  <md-dialog-content class="sticky-container">
    <md-subheader class="md-sticky-no-effect">Add New User</md-subheader>
		<md-input-container style="width:80%">
		  <label>First Name</label>
		  <input required ng-model="newUser.firstName">
    </md-input-container>
		<md-input-container style="width:80%">
		  <label>Last Name</label>
		  <input required ng-model="newUser.lastName">
    </md-input-container>
    <md-input-container style="width:80%">
		  <label>Roles</label>
		  <input required ng-model="newUser.role">
    </md-input-container>
    <md-input-container style="width:80%">
    	<label>email</label>
    	<input required ng-model="newUser.email">
    </md-input-container>
	  <div layout layout-sm="column">
	  	<md-input-container flex>
			  <label>Admin</label>
			  <input type="checkbox" ng-model="newUser.admin" ng-init="newUser.admin=false">
		  </md-input-container>
	  </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="cancel()" class="md-primary">
    	Cancel
    </md-button>
    <span flex></span>
    <md-button ng-click="newUser.owner=$root.currentUser._id;answer(newUser)" class="md-primary">
      Save
    </md-button>
  </div>
  </form>
</md-dialog>