<md-content layout-padding>
<section>
<md-card>
  <md-subheader class="md-primary"><h2 class="md-title">Edit User</h2></md-subheader>
	<form>
		<div layout layout-sm="column" layout-gt-sm="row">
			<md-input-container flex>
			  <label>First Name</label>
			  <input required ng-model="user.firstName">
	    </md-input-container>
			<md-input-container flex>
			  <label>Last Name</label>
			  <input required ng-model="user.lastName">
	    </md-input-container>
		</div>
		<md-input-container style="width:80%">
		  <label>Roles</label>
		  <input required ng-model="user.roles">
    </md-input-container>
	  <md-input-container style="width:80%">
		  <label>Contact Email</label>
		  <input type="email" required ng-model="user.contactEmail">
	  </md-input-container>
    <md-input-container style="width:80%">
    	<label>Personal Url</label>
    	<input required ng-model="user.link">
    </md-input-container>
    <md-input-container style="width:80%">
    	<label>Bio</label>
    	<input required ng-model="user.bio">
    </md-input-container>
	  <div layout layout-sm="column">
	  	<md-input-container flex>
			  <label>Public</label>
			  <input type="checkbox" ng-model="user.public">
		  </md-input-container>
		  <md-input-container flex>
		  	<button ng-click="save()">Save</button>
				<button ng-click="reset()">Reset form</button>
				<button><a href="/users">Cancel</a></button>
	  	</md-input-container>
	  </div>
	</form>
</md-card>
</section>
</md-content>