<div layout="row" layout-align="center start" layout-fill layout-margin>
  <div flex flex-gt-sm="75" class="md-whiteframe-z2" layout-fill>
		<form>
		  <md-toolbar class="md-primary md-tall" layout="column" layout-align="end" layout-fill>
      <div layout="row" class="md-toolbar-tools md-toolbar-tools-bottom">
        <h3 class="md-display-1">Manage Profile</h3>
      </div>
    </md-toolbar>
		  <md-input-container>
		    <label>First Name</label>
		    <input ng-model="profileDetail.profile.firstName" id="fNameInput" type="text" aria-label="FirstName">
		  </md-input-container>
		  <md-input-container>
		    <label>Last Name</label>
		    <input ng-model="profileDetail.profile.lastName" id="lNameInput" type="text" aria-label="LastName">
		  </md-input-container>
		  <div layout="row" layout-align="space-around center">
			  <md-button ui-sref="profiles" class="md-raised md-primary" aria-label="back">
			  	Back
		  	</md-button>
			  <md-button class="md-raised md-primary" ng-click="profileDetail.save()" aria-label="saveProfile">
			  	Save
			  </md-button>
	  	</div>
		</form>
	</div>
</div>