<div layout="row" layout-align="center start" layout-fill layout-margin>
  <div flex flex-gt-sm="75" class="md-whiteframe-z2" layout-fill>
    <md-toolbar class="md-primary md-tall" layout="column" layout-align="end" layout-fill>
      <div layout="row" class="md-toolbar-tools md-toolbar-tools-bottom">
        <h3 class="md-display-1"> Sign in </h3>
      </div>
    </md-toolbar>

    <div layout-fill layout-margin layout-padding >
      <div layout-fill layout-margin>
        <p class="md-body-2"> Sign in with your email</p>
      </div>

      <div>
      
      <form name="loginForm" layout="column" layout-fill layout-padding layout-margin>
        <md-input-container>
          <label> Email </label>
          <input type="text" ng-model="login.credentials.email" aria-label="email" required/>
        </md-input-container>
        <md-input-container>
          <label> Password </label>
          <input type="password" ng-model="login.credentials.password" aria-label="password" required/>
        </md-input-container>
        <div layout="row" layout-align="space-between center">
          <a class="md-button" href="/resetpw">Forgot password?</a>
          <md-button class="md-raised md-primary" ng-click="login.login()" aria-label="login"
                     ng-disabled="login.loginForm.$invalid()">Sign In
          </md-button>
        </div>
      </form>
      </div>
      <div layout="column" layout-fill layout-margin layout-align="center">
	      <md-divider></md-divider>
	      <div layout="row" layout-align="center">
	        <a class="md-button" href="/register">Need an account?</a>
	      </div>
      </div>

    </div>
    <md-toolbar ng-show="login.error" class="md-warn" layout="column" layout-fill layout-padding layout-margin>
      <p class="md-body-1">{{ login.error }}</p>
    </md-toolbar>

  </div>
</div>