.addNew{
	background-color:#ADD6FF;
}
.overlap{
	/* Firefox */
	width: -moz-calc(100% + 20px);
	/* WebKit */
	width: -webkit-calc(100% + 20px);
	/* Opera */
	width: -o-calc(100% + 20px);
	/* Standard */
	width: calc(100% + 20px);
	position: relative;
	left:-10px;
}
.editPanel{
	background-color:#ADD6FF;
}