<div layout-column layout-margin style="margin-left:1.5em;margin-right:1.5em;padding: 1em;" class="main-content">
	<div flex layout="row" layout-align="center center" style="width:100%;height:50%;margin-left:auto;margin-right:auto;">
			<!-- <div flex layout-fill
										ng-style="{'height':'100px','background-image': 'url(bgs/logowide.jpg)', 'background-repeat': 'no-repeat', 'background-size' : 'contain', 'background-position': 'center'}"
										> 
			</div> --> 
			<image ng-src="{{getMdImgUrl('bgs/overtime.jpg')}}" style="width:100%;"></image>
	</div>
	<!-- background-image:url('bgs/cclogo.jpg;background-size:contain;background-repeat: no-repeat;'); -->
	<div flex>
	<p>
		<STRONG class="t-alt">Creating Conversation's (CC)</STRONG> main goal
		is to influence and effect the minds of our peers, the youth of
		generations that come after us as well as those before us. We want to
		inspire the way people think about their future and environment to set
		a different perspective on the "Average American." <Strong
			class="t-alt">We strive to accomplish</Strong> this goal through
		networking, the power of social media, our web-app, and specifically
		our web series.
	</p>
	<p>
		Our <STRONG class="t-alt">Creating Conversation</STRONG> web series is
		created to focus on the many talents and mindsets that make us all
		individuals. By sharing stories and experience from our peers, we will
		be able to build a connection within our community and all around the
		world.
	</p>
	<p>
		The <Strong class="t-alt">"Creating Conversation"</Strong> hybrid
		mobile app was created by Media Reign, a technology/media marketing
		company started from the ground up by Tacoma's eastsider Darrion
		Harris.
	</p>
	<p>
		This is just the beginning of many business ventures and partnerships
		created between the Creating Conversation members, <Strong
			class="t-alt">Media Reign</Strong>, and<Strong class="t-alt">
			25th Street Productions</Strong>. This isn't just a hobby, <Strong
			class="t-alt">IT'S A MOVEMENT!</Strong>
	</p>
	</div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68377794-1', 'auto');
  ga('send', 'pageview');

</script>