<md-dialog aria-label="About Darrions Room" style="width:80%">
	<md-dialog-content>
		<div>
		<img style="margin: auto; max-width: 100%;" alt="" ng-src="http://demo.cloudimg.io/s/width/600/http://darrionsroom.meteor.com/bgs/darrion.JPG">
		</div>
	</md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="cancel()" class="md-primary">
    	OK
    </md-button>
  </div>
</md-dialog>