<div layout="row" layout-align="center start" layout-fill layout-margin>
  <div flex flex-gt-sm="75" class="md-whiteframe-z2" layout-fill>
        <md-toolbar class="md-primary md-tall" layout="column" layout-align="end" layout-fill>
      <div layout="row" class="md-toolbar-tools md-toolbar-tools-bottom">
        <h3 class="md-display-1"> Reset Password</h3>
      </div>
    </md-toolbar>
 
    <div layout-fill layout-margin layout-padding>
 
      <div layout="row" layout-fill layout-margin>
        <p class="md-body-2">Enter your email so we can send you a reset link</p>
      </div>
 
      <form name="resetForm" layout="column" layout-fill layout-padding layout-margin>
        <md-input-container>
          <label> Email </label>
          <input type="text" ng-model="resetpw.credentials.email" placeholder="email" aria-label="email" required/>
        </md-input-container>
        <div layout="row" layout-align="end center">
          <md-button class="md-raised md-primary" ng-click="resetpw.reset()" aria-label="reset"
                     ng-disabled="resetpw.resetForm.$invalid()">Send Email
          </md-button>
        </div>
      </form>
 
      <md-toolbar ng-show="resetpw.error" class="md-warn" layout="row" layout-fill layout-padding layout-margin>
        <p class="md-body-1">{{ resetpw.error }}</p>
      </md-toolbar>
 
      <div layout="column" layout-fill layout-margin layout-align="center">
      	<md-divider></md-divider>
        <a class="md-button" href="/login">Sign in</a>
      </div>
 
    </div>
 
  </div>
</div>