.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 80%;
  height: 60px;
  text-align: center;
  padding-top: 25px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.drop-box.dragover {
  border: 5px dashed blue;
}

.drop-box.dragover-err {
  border: 5px dashed red;
}

.uploaded-image {
  max-height: 100px;
  max-width: 200px;
}

.ng-crop-container {
  height: 400px;
}


.images-container-title {
  padding-bottom: 30px;
}

.party-image-container {
  position: relative;
  margin-right: 10px;
  max-height: 200px;
  max-width: 200px;

}

.party-image-container img {
  max-height: 100%;
  max-width: 100%;
}
  
.main-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #f8f8f8;
}