<div style="margin:.5em;min-width:75%">
<form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2> Create a new profile</h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-dialog-content style="min-width:300px;max-width:800px;max-height:810px; ">
    <div ng-show="addNewProfileModal.isLoggedIn">
      <md-input-container>
        <label>First Name</label>
        <input ng-model="addNewProfileModal.newProfile.firstName" id="fNameInput" type="text" aria-label="FirstName">
      </md-input-container>
      <md-input-container>
        <label>Last Name</label>
        <input ng-model="addNewProfileModal.newProfile.lastName" id="lNameInput" type="text" aria-label="LastName">
      </md-input-container>
      <!-- 
      
      <md-whiteframe class="md-whiteframe-z1" layout="column">
          <div layout="row" class="images-container-title">
            <div flex>
              <h3>Add photos to your profile!</h3>
                <div ng-hide="addNewProfileModal.cropImgSrc" ngf-drop ngf-select
                     ngf-change="addNewProfileModal.addImages($files)"
                     ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
                     ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'image/*'"
                     ngf-drop-available="true">
                  <div>Click here to select image</div>
                </div>
              <div ng-show="addNewProfileModal.cropImgSrc" class="ng-crop-container">
                <h3>Great! Now edit & crop your image...</h3>
                <md-button ng-click="addNewProfileModal.saveCroppedImage()" ng-disabled="!addNewProfileModal.cropImgSrc" class="md-primary">
                  Save Image
                </md-button>
                <img-crop image="addNewProfileModal.cropImgSrc" result-image="addNewProfileModal.myCroppedImage" area-type="square"></img-crop>
              </div>
            </div>
          </div>
          <br />
          <div class="images-container-title" sv-root sv-part="addNewProfileModal.newProfile.images">
            <div sv-element class="profile-image-container" ng-repeat="image in addNewProfileModal.newProfile.images">
              <div class="main-image" ng-show="$index === 0">Main Image</div>
              <img draggable="false" ng-src="{{ image.url() }}"/><br/>
              <a href="#" editable-text="image.metadata.description"
                 onbeforesave="addNewProfileModal.updateDescription($data, image)">{{ image.metadata.description || 'Click to add description' }}</a>
            </div>
          </div>
        </md-whiteframe>
         -->
      <md-checkbox ng-model="addNewProfileModal.newProfile.public" ng-init="addNewProfileModal.newProfile.public=true" id="public" aria-label="Public">
        Public
      </md-checkbox>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="addNewProfileModal.close()">
      Close
    </md-button>
    <md-button ng-click="addNewProfileModal.addNewProfile()" style="margin-right:20px;">
      Add
    </md-button>
  </div>
</form>
</div>