profiles-list {
  width: 100%;
}

.navbar-text {
  margin-right: 0;
}

#login-dropdown-list .accounts-dialog {
  right: 14px;
  left: auto;
}

.search-form {
  margin-bottom: 1em;
}

.profile-image {
  background-size: cover;
  width: 200px;
  height: 200px;
  background-color:black;
}

.ma-name a {
  text-decoration: none;
  color: #333;
}

.ma-profiles-list .ma-profile .ma-description {

}
