<div layout="row" layout-align="center start" layout-fill layout-margin>
  <div flex flex-gt-sm="75" class="md-whiteframe-z2" layout-fill>
	  <md-toolbar class="md-primary md-tall" layout="column" layout-align="end" layout-fill>
		  <div layout="row" class="md-toolbar-tools md-toolbar-tools-bottom" >
		    <h3 class="md-display-1"> Profiles </h3>
		    <span flex></span>
		    <md-button ng-show="profilesList.isLoggedIn" class="md-fab" ng-click="profilesList.openAddNewProfileModal()">
		      <md-icon md-svg-src="/icons/svg/add_white_24px.svg"></md-icon>
		    </md-button>
		  </div>
		</md-toolbar>
		<md-content class="md-padding" style="padding-top:0;">
		  <div ng-repeat="profile in profilesList.profiles" ui-sref="profileDetails({ profileId: profile._id })">
		    <md-card>
		    	<div ng-if="profile.images && profile.images.length > 0"
		           ng-style="profilesList.getMainImage(profile.images)"
		           class="profile-image">
		      </div>
		      <md-card-content>
		        <h2 class="md-title ma-name" style=""><a href="/profiles/{{profile._id}}">{{profile.firstName}} {{profile.lastName}}</a></h2>
		        <button ng-click="profilesList.removeProfile(profile)">X</button>
		      </md-card-content>
		    </md-card>
		  </div>
		</md-content>
	</div>
</div>
