<div id="tb-main" class="tb-main md-whiteframe-z1" layout="row"
	layout-align="start center">
	<div class="md-toolbar-tools">
		<md-button id="tb-menu" ng-click="toggleLeft()" hide-gt-md
			aria-label="toggleMenu"> </md-button>
		<h4>
			<a href="/home">Darrions Room</a>
		</h4>
		<span flex></span>
		<md-button ng-controller="AboutCtrl" ng-click="showAdvanced($event)"
			class="md-fab" id="tb-logo" aria-label="showAbout"></md-button>
	</div>
</div>
<!-- need view to span even if only toolbar -->
<div layout="row" flex>
   <md-sidenav id="tb-alt" md-swipe-left="close();" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar id="tb-alt" md-scroll-shrink>
         <div hide-gt-md class="md-toolbar-tools">
            <h1 class="md-toolbar-tools">Menu</h1>
            <span flex></span>
            <md-button ng-controller="AboutCtrl" ng-click="toggleLeft()" class="md-fab" aria-label="toggleMenu">
               <md-icon md-svg-icon="content:ic_clear_24px"></md-icon>
            </md-button>
         </div>
         <p layout-padding class="md-title" style="color:white;font-weight:bold;">
            <login-buttons></login-buttons>
         </p>
      </md-toolbar>
      <md-content id="left-nav" md-scroll-y ng-controller="LeftCtrl" >
         <md-menu-content>
      <md-menu-item>
        <md-button ng-click="close();go('/home/')">
          <md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>
          Home
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-click="close();go('/posts')">
          <md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>
          Posts
        </md-button>
      </md-menu-item>
    </md-menu-content>
      </md-content>
   </md-sidenav>
   <md-content flex md-scroll-y ng-style="{'background-size':'cover','background-image':'url(' + getBG() + ')'}" id="ccContent">
      <div flex ui-view></div>
      <div class="md-whiteframe-z2" ng-style="{'padding-top':'.5em','pading-bottom':'.5em','background-image': 'url(' + getMRBanner() + ')', 'background-repeat': 'no-repeat', 'background-size' : 'cover', 'background-position': 'center', 'text-align' : 'center', 'color':'white', 'min-height' : '50px','height' : '50px', 'background-color' : '#444444', 'margin-top' : '1em'}">
         <h2>MEDIA REIGN LLC.</h2>
      </div>
   </md-content>
   <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-is-locked-open="$mdMedia('gt-lg')">
      <md-toolbar id="tb-main">
         <h1 class="md-toolbar-tools">Ad Space</h1>
      </md-toolbar>
      <md-list>
      	<md-item>
        <md-item-content ng-controller="RightCtrl" layout-padding>
           <h3>
           	Place Your Ad Today
           <br/> 
           	<a href="mailto:mediareignllc@gmail.com">MediaReign</a>
           </h3>
        </md-item-content>
      	</md-item>
      </md-list>
   </md-sidenav>
</div>
