<md-content id="left-nav" md-scroll-y >
	<md-menu-content>
		<md-menu-item>
			<md-button ng-click="close();go('/home/')">
			<md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>
				Home
			</md-button>
		</md-menu-item>
		<md-menu-item>
			<md-button ng-click="close();go('/profiles')">
			<md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>
				Profiles
			</md-button>
		</md-menu-item>
	</md-menu-content>
</md-content>